<a href="https://colab.research.google.com/github/marcinmaleszewski/OVF_Academy/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#example

In [6]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
###!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
###!unzip red-wine-quality-cortez-et-al-2009.zip
!kaggle datasets download -d artemkorottchenko/large-boatyacht-pricing-dataset
!unzip large-boatyacht-pricing-dataset.zip
#### End of the script to get the data directly from kaggle through colab
# Remember that when you run it, you have to click on the button Choose Files and 
# then select the kaggle.json file from your computer
! kaggle datasets download -d artemkorottchenko/large-boatyacht-pricing-dataset
! unzip large-boatyacht-pricing-dataset.zip

Saving kaggle.json to kaggle (1).json
mkdir: cannot create directory ‘/root/.kaggle’: File exists
large-boatyacht-pricing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  large-boatyacht-pricing-dataset.zip
replace boat_dataset.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: boat_dataset.csv
large-boatyacht-pricing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  large-boatyacht-pricing-dataset.zip
replace boat_dataset.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: boat_dataset.csv

In [3]:
import pandas as pd
df=pd.read_csv('/content/boat_dataset.csv', encoding='latin1')
df.head()

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,...,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Advertisement Date,Number of views last 7 days,Comments,Additional Comments,Equipment
0,"CHF 3.337,-",Power Boats,Motor Yacht,Rigiflex power boats,CAP 400,NaN,new boat from stock,2017.0,as new,4.00 m,...,NaN,NaN,NaN,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,NaN,226,NaN,Possibility to arrange it with a complete luxu...,NaN
1,"EUR 3.490,-",Power Boats,Center console boat,Terhi power boats,400 C,NaN,new boat from stock,2020.0,new,4.00 m,...,NaN,NaN,NaN,NaN,Germany Â» BÃ¶nningstedt,NaN,75,"In den Farben weiÃ oder grÃ¼n lieferbar.,,2 a...",NaN,NaN
2,"CHF 3.770,-",Power Boats,Sport Boat,Marine power boats,370 S - Aluboot,NaN,new boat from stock,NaN,NaN,3.69 m,...,NaN,NaN,NaN,NaN,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,NaN,124,NaN,The lightweight and sleek rowing boat for 4 pe...,NaN
3,"DKK 25.900,-",Power Boats,Sport Boat,Pioner power boats,10 Classic Special Edition,NaN,new boat from stock,2020.0,NaN,3.00 m,...,NaN,NaN,NaN,NaN,Denmark Â» Svendborg,NaN,64,"MORSOM OG LETKÃRT KVALITETSBÃ D!,Nye Pioner 1...",NaN,NaN
4,"SEK 35.000,-",Power Boats,Classic,NaN,Gullholmensnipa 21,NaN,Used boat,1974.0,good,6.30 m,...,NaN,500 h,NaN,NaN,Nordsee Â» VÃ¤stra FrÃ¶lunda,04.07.2020,131,NaN,NaN,"Anchor,Battery,Bilge Pump,Bilge pump,Cockpit C..."

In [5]:
list=[1,2,1,'sss']
lll=[1,2,3]
type(list)
lista=list+lll
print(lista)

[1, 2, 1, 'sss', 1, 2, 3]

In [9]:
import pandas as pd
import io
import numpy as np
pd.options.display.max_columns = 100
pd.options.display.max_rows = 50

df = pd.read_csv(io.StringIO(open('/content/boat_dataset.csv', 'rb').read().decode('utf-8', errors='ignore')), sep=",")

## Add element in the database for EDUCATIONAL PURPOSE ONLY
# Add random date in order to do a proper temporal split
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%d.%m.%Y')
#Here is a function that will automatically create a feature of random dates between a defined interval
def random_datetimes_or_dates(start, end, out_format='datetime', n=10): 

    '''   
    unix timestamp is in ns by default. 
    I divide the unix time value by 10**9 to make it seconds 
    (or 24*60*60*10**9 to make it days).
    The corresponding unit variable is passed to 
    the pd.to_datetime function. 
    Values for the (divide_by, unit) pair to select is defined by 
    the out_format parameter.
    for 1 -> out_format='datetime'
    for 2 -> out_format=anything else
    '''
    (divide_by, unit) = (10**9, 's') if out_format=='datetime' else (24*60*60*10**9, 'D')

    start_u = start.value//divide_by
    end_u = end.value//divide_by

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit=unit)


np.random.seed(893717398)
# Set parameters
d_start = pd.to_datetime('2020-01-01')
d_end = pd.to_datetime('2021-12-31')

# Delete initial Advertisement Date -> if you want to keep the inital dates, don't run it
df.drop(columns=['Advertisement Date'], inplace=True)

# Run function
df['Advertisement Date'] = random_datetimes_or_dates(d_start, d_end, out_format='datetime', n=len(df))

# Keep the date and remove the time
df['Advertisement Date']= df['Advertisement Date'].dt.date

# Parse the date
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%Y-%m-%d')

# Impute Advertissement Date by the the created one when they are missing
#df['Advertisement Date'] = np.where(df['Advertisement Date'].isna(), df['date2'], df['Advertisement Date'])

# Delete the random date created
#df.drop(columns=['date2'], inplace=True)

# Create duplicates
temp = df.sample(n=500, random_state=893717398)
df = df.append(temp)
del(temp)
df.reset_index(drop=True, inplace=True)

df['Advertisement Date'] = df['Advertisement Date'].astype(str)

In [10]:
df.head()

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
0,"CHF 3.337,-",Power Boats,Motor Yacht,Rigiflex power boats,CAP 400,NaN,new boat from stock,2017.0,as new,4.00 m,1.90 m,NaN,NaN,NaN,7.0,NaN,NaN,white,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake Geneva » Vésenaz,226,NaN,Possibility to arrange it with a complete luxu...,NaN,2021-08-11
1,"EUR 3.490,-",Power Boats,Center console boat,Terhi power boats,400 C,NaN,new boat from stock,2020.0,new,4.00 m,1.50 m,NaN,150 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Thermoplastic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » Bönningstedt,75,"In den Farben weiß oder grün lieferbar.,,2 abs...",NaN,NaN,2020-08-19
2,"CHF 3.770,-",Power Boats,Sport Boat,Marine power boats,370 S - Aluboot,NaN,new boat from stock,NaN,NaN,3.69 m,1.42 m,0.25 m,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,(Permission for Lake of Constance),NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake of Zurich » Stäfa ZH,124,NaN,The lightweight and sleek rowing boat for 4 pe...,NaN,2021-01-06
3,"DKK 25.900,-",Power Boats,Sport Boat,Pioner power boats,10 Classic Special Edition,NaN,new boat from stock,2020.0,NaN,3.00 m,1.00 m,NaN,110 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,64,"MORSOM OG LETKØRT KVALITETSBÅD!,Nye Pioner 10 ...",NaN,NaN,2020-08-01
4,"SEK 35.000,-",Power Boats,Classic,NaN,Gullholmensnipa 21,NaN,Used boat,1974.0,good,6.30 m,2.50 m,0.75 m,2'000 kg,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inboard with Shaft,VolvoPenta MD 2002,1 x 18 HP / 13 kW,50 l,NaN,500 h,NaN,NaN,Nordsee » Västra Frölunda,131,NaN,NaN,"Anchor,Battery,Bilge Pump,Bilge pump,Cockpit C...",2021-05-05

In [11]:
df.shape

(10844, 38)

In [12]:
df.dtypes

Price                           object
Category                        object
Boat Type                       object
Manufacturer                    object
Model                           object
Boat name                       object
Type                            object
Year Built                     float64
Condition                       object
Length                          object
Width                           object
Depth                           object
Displacement                    object
CE Design Category              object
Cert Number of People          float64
Number of Cabins               float64
Number of beds                 float64
Hull Color                      object
Number of Toilets              float64
Number of Bathrooms            float64
Number of Showers              float64
Material                        object
Fresh Water Cap                 object
Holding Tank                    object
Propulsion                      object
Engine                          object
Engine Performance              object
Fuel Capacity                   object
Fuel Type                       object
Engine Hours                    object
Max Speed                       object
Cruising Speed                  object
Location                        object
Number of views last 7 days     object
Comments                        object
Additional Comments             object
Equipment                       object
Advertisement Date              object
dtype: object

In [14]:
df.describe(include='all') # in default only numeric variables are taken into consideration

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
count,10844,10844,10844,9393,10841,1370,10839,10252.000000,3540,10834,10779,7575,5298,828,3773.000000,6807.000000,6726.000000,3472,2257.000000,484.000000,2040.000000,8902,2222,861,3433,10007,8455,7137,8409,5396,930,567,10800,10457,7437,2553,6481,10844
unique,3283,1,135,932,7458,1258,36,NaN,10,1628,580,264,1380,4,NaN,NaN,NaN,377,NaN,NaN,NaN,11,287,104,8,4752,843,716,6,996,99,57,3177,680,6631,2410,5301,730
top,"EUR 65.000,-",Power Boats,Motor Yacht,Bénéteau power boats,40,Maxima,"Used boat,Diesel",NaN,very good,9.00 m,2.50 m,0.90 m,12000 kg,C - Inshore,NaN,NaN,NaN,white white,NaN,NaN,NaN,GRP,100 l,100 l,Inboard with Shaft,Volvo Penta,1 x 200 HP / 147 kW,400 l,Diesel,500 h,30 knots,25 knots,Netherlands » In verkoophaven,68,Wir sprechen Deutsch. Vermittlungsprovision ni...,"Ex-works price,Not included:,- Motor,- Options...",Battery,2021-10-23
freq,86,10844,2973,697,23,17,4416,NaN,1216,119,386,618,52,421,NaN,NaN,NaN,895,NaN,NaN,NaN,6019,132,89,1242,392,323,242,4988,119,122,72,347,97,136,11,58,28
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004.831155,NaN,NaN,NaN,NaN,NaN,NaN,9.338723,2.145585,4.339578,NaN,1.756314,1.295455,1.550490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.330310,NaN,NaN,NaN,NaN,NaN,NaN,23.478952,2.102946,3.902195,NaN,2.038631,0.654258,0.925578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1885.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,-1.000000,-23.000000,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,1.000000,2.000000,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,NaN,NaN,NaN,NaN,NaN,8.000000,2.000000,4.000000,NaN,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,3.000000,6.000000,NaN,2.000000,1.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN,NaN,NaN,1200.000000,96.000000,266.000000,NaN,84.000000,6.000000,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10844 entries, 0 to 10843
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        10844 non-null  object
 1   Category                     10844 non-null  object
 2   Boat Type                    10844 non-null  object
 3   Manufacturer                 9393 non-null   object
 4   Model                        10841 non-null  object
 5   Boat name                    1370 non-null   object
 6   Type                         10839 non-null  object
 7   Year Built                   10252 non-null  float64
 8   Condition                    3540 non-null   object
 9   Length                       10834 non-null  object
 10  Width                        10779 non-null  object
 11  Depth                        7575 non-null   object
 12  Displacement                 5298 non-null   object
 13  CE Design Category           828 non-null    object
 14  Cert Number of People        3773 non-null   float64
 15  Number of Cabins             6807 non-null   float64
 16  Number of beds               6726 non-null   float64
 17  Hull Color                   3472 non-null   object
 18  Number of Toilets            2257 non-null   float64
 19  Number of Bathrooms          484 non-null    float64
 20  Number of Showers            2040 non-null   float64
 21  Material                     8902 non-null   object
 22  Fresh Water Cap              2222 non-null   object
 23  Holding Tank                 861 non-null    object
 24  Propulsion                   3433 non-null   object
 25  Engine                       10007 non-null  object
 26  Engine Performance           8455 non-null   object
 27  Fuel Capacity                7137 non-null   object
 28  Fuel Type                    8409 non-null   object
 29  Engine Hours                 5396 non-null   object
 30  Max Speed                    930 non-null    object
 31  Cruising Speed               567 non-null    object
 32  Location                     10800 non-null  object
 33  Number of views last 7 days  10457 non-null  object
 34  Comments                     7437 non-null   object
 35  Additional Comments          2553 non-null   object
 36  Equipment                    6481 non-null   object
 37  Advertisement Date           10844 non-null  object
dtypes: float64(7), object(31)
memory usage: 3.1+ MB

In [16]:
df['Year Built'].head()

0    2017.0
1    2020.0
2       NaN
3    2020.0
4    1974.0
Name: Year Built, dtype: float64

In [19]:
df[['Year Built', 'Model', 'Category']].head()

   Year Built                       Model     Category
0      2017.0                     CAP 400  Power Boats
1      2020.0                       400 C  Power Boats
2         NaN             370 S - Aluboot  Power Boats
3      2020.0  10 Classic Special Edition  Power Boats
4      1974.0          Gullholmensnipa 21  Power Boats

In [21]:
mask1=df[df['Year Built']>2000]

In [23]:
mask1.min()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Price                    CHF 1.060.000,-
Category                     Power Boats
Boat Type                       Bowrider
Year Built                        2001.0
Cert Number of People                1.0
Number of Cabins                    -1.0
Number of beds                     -23.0
Number of Toilets                    1.0
Number of Bathrooms                  1.0
Number of Showers                    1.0
Advertisement Date            2020-01-01
dtype: object

In [28]:

mask2=df['Year Built'].between(2000,2001)
df['Year Built'].between(2000,2001).head(3)

0    False
1    False
2    False
Name: Year Built, dtype: bool

In [30]:
df[df['Year Built']>2000][['Price','Year Built']]

               Price  Year Built
0        CHF 3.337,-      2017.0
1        EUR 3.490,-      2020.0
3       DKK 25.900,-      2020.0
5        EUR 3.399,-      2019.0
9        EUR 3.333,-      2019.0
...              ...         ...
10838   EUR 90.000,-      2011.0
10839   CHF 44.900,-      2013.0
10840   EUR 59.500,-      2008.0
10841  EUR 375.000,-      2008.0
10843  EUR 121.900,-      2019.0

[7406 rows x 2 columns]

In [34]:
df[((df['Year Built']<=2001) | df['Year Built']<=2011) & (df['Number of Cabins']<=2)]

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
21,"EUR 4.000,-",Power Boats,Pilothouse,Bénéteau power boats,ANTARES 750 IB,L'ANTONIN,"Used boat,Diesel",1981.0,NaN,8.00 m,2.84 m,0.80 m,NaN,NaN,NaN,1.0,4.0,White,NaN,NaN,NaN,PVC,NaN,NaN,NaN,RENAULT COUACH,1 x 145 HP / 107 kW,160 l,Diesel,2850 h,NaN,NaN,"France » MARTGUES, MARTIGUES",265,Une légendaire robustesse de construction : Co...,NaN,NaN,2021-10-21
22,"EUR 4.000,-",Power Boats,Cabin Boat,NaN,Backdecker,NaN,"Used boat,Unleaded",2011.0,good,6.37 m,2.31 m,0.45 m,800 kg,NaN,3.0,2.0,3.0,NaN,NaN,1.0,NaN,GRP,NaN,NaN,"Outboard, four-stroke",Mercury,1 x 5 HP / 3.7 kW,54 l,Unleaded,9 h,NaN,NaN,Germany » Bayern » Forchheim/Ofr.,330,NaN,NaN,Swim Ladder,2020-03-15
40,"CHF 3.800,-",Power Boats,Cabin Boat,Draco power boats,2100,NaN,"Used boat,Unleaded",1980.0,well-groomed,6.20 m,2.45 m,0.60 m,1'450 kg,NaN,7.0,1.0,1.0,NaN,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,Mercruiser/MCM 470,1 x 170 HP / 125 kW,NaN,Unleaded,1130 h,NaN,NaN,Switzerland » Walensee » Walenstadt,1'804,NaN,-Allround boat for the whole family in good co...,"Anchor,Battery,Bilge Pump,Bilge pump,Bimini To...",2020-01-18
41,"CHF 3.800,-",Power Boats,Fishing Boat,Hensa power boats,De Luxe Combi,NaN,"Used boat,Unleaded",1974.0,well-groomed,5.40 m,1.67 m,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN,NaN,NaN,Plastic,NaN,NaN,"Outboard, four-stroke",Suzuki DF6AL,1 x 6 HP / 4.4 kW,12 l,Unleaded,3 h,NaN,NaN,Switzerland » Sihlsee,849,NaN,"Motorboat:,Hensa De Luxe Combi born 1974,Lengt...",Anchor,2020-03-20
67,"CHF 7.000,-",Power Boats,Sport Boat,Nuova power boats,Fiberglass / Winner 18,NaN,"Used boat,Unleaded",1986.0,good,6.02 m,2.37 m,NaN,NaN,C - Inshore,6.0,1.0,NaN,NaN,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,Mercruiser,1 x 205 HP / 151 kW,100 l,Unleaded,705 h,NaN,NaN,Switzerland » Bielersee » Kleinboothafen Biel,NaN,NaN,NaN,"Anchor,Battery,Bilge Pump,Compass,Fire Extingu...",2021-12-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10834,"EUR 92.500,-",Power Boats,Motor Yacht,Sea Ray power boats,500 DA,NaN,"Used boat,Diesel",1990.0,good,15.00 m,4.50 m,1.20 m,NaN,NaN,NaN,2.0,4.0,NaN,NaN,NaN,2.0,GRP,550 l,175 l,NaN,Detroits 550 Turbo Diesel,2 x 550 HP / 405 kW,2000 l,Diesel,NaN,NaN,NaN,Netherlands » Nähe Rotterdamm,107,"(K),,Alle Angaben ohne Gewähr!,,Diese wirklich...",NaN,NaN,2020-04-10
10836,"EUR 41.000,-",Power Boats,Motor Yacht,Cranchi power boats,ACQUAMARINA 31,NaN,"Used boat,Diesel",1999.0,NaN,9.69 m,3.07 m,1.00 m,5350 kg,NaN,10.0,1.0,2.0,Bianco,NaN,NaN,1.0,GRP,NaN,NaN,NaN,Volvo Penta AD41PA,2 x 200 HP / 147 kW,NaN,Diesel,700 h,NaN,NaN,Italy » Liguria » Liguria,51,"Cranchi Aquamarina 31,Boat in excellent genera...",NaN,"Anchor,Autopilot,Battery,Battery Charger,Bilge...",2020-07-25
10838,"EUR 90.000,-",Power Boats,Flybridge,Jeanneau power boats,Merry Fisher 10,NaN,"Used boat,Diesel",2011.0,NaN,9.07 m,3.33 m,0.90 m,NaN,NaN,NaN,2.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yanmar 1 x 380 HP,NaN,375 l,Diesel,180 h,NaN,NaN,Italy » Aprilia Marittima di Latisana,134,Wir sprechen Deutsch. Vermittlungsprovision ni...,NaN,"Battery,Battery Charger,Bilge Pump,Bow Thruste...",2020-06-11
10840,"EUR 59.500,-",Power Boats,Fishing Boat,San Remo power boats,Fisher Top 930,NaN,"Used boat,Unleaded",2008.0,very good,9.30 m,2.99 m,0.95 m,NaN,NaN,10.0,2.0,4.0,white,1.0,NaN,1.0,GRP,400 l,NaN,"Outboard, four-stroke",Honda,2 x 150 HP / 110 kW,400 l,Unleaded,170 h,NaN,NaN,Portugal » Lisbon,56,"Closed bow cabin with double bed, Closed later...",NaN,"Anchor,Battery,Battery Charger,Bilge pump,Bow ...",2020-06-04
10842,"EUR 24.000,-",Power Boats,Motor Yacht,Biam power boats,1000,NaN,"Used boat,Diesel",1992.0,very good,10.00 m,3.20 m,0.60 m,NaN,NaN,NaN,2.0,4.0,NaN,NaN,NaN,NaN,GRP,320 l,NaN,NaN,Volvo-Penta-Diesel AD 41 B,2 x 200 HP / 147 kW,650 l,Diesel,700 h,NaN,NaN,Italy » Lignano,249,"TECHNIK:,220V Steckdosen, Bilgepumpe automatis...",NaN,"Anchor,Bilge Pump,Compass,Depth Instrument,FM ...",2021-04-08

In [38]:
df[((df['Year Built']<=2001) | df['Year Built']<=2011) & (df['Number of Cabins']<=2) & (df['Fuel Type']!='Diesel')].head(2)

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
22,"EUR 4.000,-",Power Boats,Cabin Boat,NaN,Backdecker,NaN,"Used boat,Unleaded",2011.0,good,6.37 m,2.31 m,0.45 m,800 kg,NaN,3.0,2.0,3.0,NaN,NaN,1.0,NaN,GRP,NaN,NaN,"Outboard, four-stroke",Mercury,1 x 5 HP / 3.7 kW,54 l,Unleaded,9 h,NaN,NaN,Germany » Bayern » Forchheim/Ofr.,330,NaN,NaN,Swim Ladder,2020-03-15
40,"CHF 3.800,-",Power Boats,Cabin Boat,Draco power boats,2100,NaN,"Used boat,Unleaded",1980.0,well-groomed,6.20 m,2.45 m,0.60 m,1'450 kg,NaN,7.0,1.0,1.0,NaN,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,Mercruiser/MCM 470,1 x 170 HP / 125 kW,NaN,Unleaded,1130 h,NaN,NaN,Switzerland » Walensee » Walenstadt,1'804,NaN,-Allround boat for the whole family in good co...,"Anchor,Battery,Bilge Pump,Bilge pump,Bimini To...",2020-01-18

In [40]:
keep_cat=['Diesel','Eletric']
df[((df['Year Built']<=2001) | df['Year Built']<=2011) & (df['Number of Cabins']<=2) & (df['Fuel Type'].isin(keep_cat))].head(2)

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
21,"EUR 4.000,-",Power Boats,Pilothouse,Bénéteau power boats,ANTARES 750 IB,L'ANTONIN,"Used boat,Diesel",1981.0,NaN,8.00 m,2.84 m,0.80 m,NaN,NaN,NaN,1.0,4.0,White,NaN,NaN,NaN,PVC,NaN,NaN,NaN,RENAULT COUACH,1 x 145 HP / 107 kW,160 l,Diesel,2850 h,NaN,NaN,"France » MARTGUES, MARTIGUES",265,Une légendaire robustesse de construction : Co...,NaN,NaN,2021-10-21
68,"EUR 6.500,-",Power Boats,Cabin Boat,Cranchi power boats,C 6 (Diesel),NaN,"Used boat,Diesel",1990.0,NaN,6.28 m,2.27 m,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,GRP,NaN,NaN,NaN,VM Motori 170 TD,1 x 170 HP / 125 kW,NaN,Diesel,300 h,NaN,NaN,Italy » Venezia,85,"Domestic Facilities onboard:,Manual Toilet.,,U...",NaN,"Battery,Generator",2020-09-21

In [41]:
drop_cat=['Diesel','Eletric']
df[((df['Year Built']<=2001) | df['Year Built']<=2011) & (df['Number of Cabins']<=2) & (~df['Fuel Type'].isin(drop_cat))].head(2)

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
22,"EUR 4.000,-",Power Boats,Cabin Boat,NaN,Backdecker,NaN,"Used boat,Unleaded",2011.0,good,6.37 m,2.31 m,0.45 m,800 kg,NaN,3.0,2.0,3.0,NaN,NaN,1.0,NaN,GRP,NaN,NaN,"Outboard, four-stroke",Mercury,1 x 5 HP / 3.7 kW,54 l,Unleaded,9 h,NaN,NaN,Germany » Bayern » Forchheim/Ofr.,330,NaN,NaN,Swim Ladder,2020-03-15
40,"CHF 3.800,-",Power Boats,Cabin Boat,Draco power boats,2100,NaN,"Used boat,Unleaded",1980.0,well-groomed,6.20 m,2.45 m,0.60 m,1'450 kg,NaN,7.0,1.0,1.0,NaN,NaN,NaN,NaN,GRP,NaN,NaN,Sterndrive,Mercruiser/MCM 470,1 x 170 HP / 125 kW,NaN,Unleaded,1130 h,NaN,NaN,Switzerland » Walensee » Walenstadt,1'804,NaN,-Allround boat for the whole family in good co...,"Anchor,Battery,Bilge Pump,Bilge pump,Bimini To...",2020-01-18

In [42]:
df['Year Built'].unique()

array([2017., 2020.,   nan, 1974., 2019., 1999., 2018., 1991., 1987.,
       2004., 1997., 1985., 1981., 2011., 1984., 1979., 1998., 1994.,
       1996., 1972., 1980., 1983., 1992., 1961., 2015., 2000., 1993.,
       1968., 2007., 1986., 1990., 2010., 1975., 2002., 1941., 1971.,
       2005., 1995., 1976., 2001., 2006., 2016., 1964., 1978., 1940.,
       1988., 2003., 1977., 1973., 1970., 1989., 1913., 1965., 1950.,
       2014., 1963., 2008., 1948., 1960., 1930., 2009., 1969., 1982.,
       2012., 1937., 2013., 1954., 1959., 1909., 1926., 1953., 2021.,
       1910., 1962., 1938., 1936., 1967., 1903., 1933., 1906., 1908.,
       1927., 1929., 1956., 1958., 1922., 1952., 1957., 1928., 1905.,
       1951., 1911., 1966., 1915., 1934., 1939., 1924., 1931., 1920.,
       1898., 1955., 1907., 1885., 1895., 1914., 1901., 1942., 1919.,
       1925., 1889., 1946., 1904., 1923., 1917., 1935., 1949., 1947.,
       1912., 1945., 1897., 1902., 1900.])

In [47]:
df['Fuel Type'].value_counts(dropna=False) # dropna=False => to show nulls in aggregation

Diesel      4988
Unleaded    3343
NaN         2435
Electric      58
Gas           17
Hybrid         2
Propane        1
Name: Fuel Type, dtype: int64

In [48]:
df['Fuel Type'].value_counts(normalize=True)

Diesel      0.593174
Unleaded    0.397550
Electric    0.006897
Gas         0.002022
Hybrid      0.000238
Propane     0.000119
Name: Fuel Type, dtype: float64

In [53]:
df['Advertisement Date2']=pd.to_datetime(df['Advertisement Date'], format='%Y-%m-%d')
df.head(2)

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date,Advertisement Date2
0,"CHF 3.337,-",Power Boats,Motor Yacht,Rigiflex power boats,CAP 400,NaN,new boat from stock,2017.0,as new,4.00 m,1.90 m,NaN,NaN,NaN,7.0,NaN,NaN,white,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake Geneva » Vésenaz,226,NaN,Possibility to arrange it with a complete luxu...,NaN,2021-08-11,2021-08-11
1,"EUR 3.490,-",Power Boats,Center console boat,Terhi power boats,400 C,NaN,new boat from stock,2020.0,new,4.00 m,1.50 m,NaN,150 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Thermoplastic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » Bönningstedt,75,"In den Farben weiß oder grün lieferbar.,,2 abs...",NaN,NaN,2020-08-19,2020-08-19

In [56]:
df.dtypes

Price                                  object
Category                               object
Boat Type                              object
Manufacturer                           object
Model                                  object
Boat name                              object
Type                                   object
Year Built                            float64
Condition                              object
Length                                 object
Width                                  object
Depth                                  object
Displacement                           object
CE Design Category                     object
Cert Number of People                 float64
Number of Cabins                      float64
Number of beds                        float64
Hull Color                             object
Number of Toilets                     float64
Number of Bathrooms                   float64
Number of Showers                     float64
Material                               object
Fresh Water Cap                        object
Holding Tank                           object
Propulsion                             object
Engine                                 object
Engine Performance                     object
Fuel Capacity                          object
Fuel Type                              object
Engine Hours                           object
Max Speed                              object
Cruising Speed                         object
Location                               object
Number of views last 7 days            object
Comments                               object
Additional Comments                    object
Equipment                              object
Advertisement Date                     object
Advertisement Date2            datetime64[ns]
dtype: object

In [57]:
df['Length'].unique()

array(['4.00 m', '3.69 m', '3.00 m', ..., '4.38 m', '4.17 m', '3.60 m'],
      dtype=object)

In [58]:
df['Length2']=df['Length'].str.rstrip(' m')

In [59]:
df['Length2'].unique()

array(['4.00', '3.69', '3.00', ..., '4.38', '4.17', '3.60'], dtype=object)

In [60]:
df['Length2']=pd.to_numeric(df['Length2'])

In [62]:
df[['Length','Length2']].dtypes

dtype('float64')

In [ ]:
df.dtypes

In [64]:
def format_series(series, char):
  new_series=series.str.rstrip(char)
  new_series=pd.to_numeric(new_series)
  return new_series

In [65]:
for col in ['Length', 'Width', 'Depth']:
  df[col]=format_series(df[col], ' m')

In [ ]:
# to clean columns:
df['Engine Hours']
df['Fresh Water Cap', 'Holding Tank', 'Fuel Capacity']

In [ ]:
df.dtypes

In [ ]:
df = df.rename(columns={'Length':'Length (m)', 'Width':'Width (m)', 'Depth':'Depth (m)',
                        'Fresh Water Cap':'Fresh Water Cap (l)', 'Holding Tank':'Holding Tank (l)', 'Fuel Capacity':'Fuel Capacity (l)'})

In [68]:
col_object_l = df.select_dtypes(include='object').columns # how many categories have given column of data
for col in col_object_l:
    print(f"Column {col} has {df[col].nunique()} categories\n")

Column Price has 3283 categories

Column Category has 1 categories

Column Boat Type has 135 categories

Column Manufacturer has 932 categories

Column Model has 7458 categories

Column Boat name has 1258 categories

Column Type has 36 categories

Column Condition has 10 categories

Column Displacement has 1380 categories

Column CE Design Category has 4 categories

Column Hull Color has 377 categories

Column Material has 11 categories

Column Fresh Water Cap has 287 categories

Column Holding Tank has 104 categories

Column Propulsion has 8 categories

Column Engine has 4752 categories

Column Engine Performance has 843 categories

Column Fuel Capacity has 716 categories

Column Fuel Type has 6 categories

Column Engine Hours has 996 categories

Column Max Speed has 99 categories

Column Cruising Speed has 57 categories

Column Location has 3177 categories

Column Number of views last 7 days has 680 categories

Column Comments has 6631 categories

Column Additional Comments has 2410 categories

Column Equipment has 5301 categories

Column Advertisement Date has 730 categories